* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html {
    background-color: rgb(122, 131, 133);
    
}

#playGameBtn {
    padding: 5px;
    background-color: rgb(155, 168, 170);
    border: 2px solid rgb(92, 86, 86);

    display: block;
    margin: auto;
}

#playGameBtn:hover {
    background-color: rgb(102, 109, 110);
    font-size: 15px;
}

.container {
    border: 2px solid rgb(92, 86, 86);
    padding: 20px;
    margin: 20px;
    background-color: rgb(155, 168, 170);

    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 30px;
}

.img-containerP, .img-containerC {
    flex-basis: 265px;
    height: 205px;
    border: 2px solid rgb(98, 98, 112);
    padding: 5px;
}

.rps-img {
    width: 250px;
    height: 175px;
    
}

.hp-container {
    display: flex;
    
    
    flex-basis: 350px;
    align-items: center;
    height: 50px;
    gap: 10px;
}

.hp-comp, .hp-player {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.hp-img {
    width: 30px;
}

#choice-container {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.choice {
    display: flex;
    gap: 30px;
}

.choice-img {
    width: 50px;
}